@import "vars";
@import "libs";
@import "fonts";
@import "nullstyle.scss";

html{
  scroll-behavior: smooth;
}

body {
  background: #333333;
}

a{
  list-style: none;
  text-decoration: none;
  outline: none;
  color: white;
}

.container {
  padding: 0 15px;
  max-width: 1230px;
  margin: 0 auto;
}

.header {
  background: url(../images/main-background.png);
  height: 100vh;
  display: flex;
}

.info {
  width: 150px;
  height: 100vh;
  background: rgba(51, 51, 51, 0.75);
  display: flex;
  padding-top: 430px;
  justify-content: center;
  position: fixed;
  &-content {
    width: 26px;
    height: 428px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &__title {
      height: 26px;
      width: 245px;
      -webkit-transform: rotate(270deg);
      transform: rotate(270deg);
      font-family: $font1;
      font-weight: bold;
      line-height: 25px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #c4c4c4;
      font-size: 18px;
    }

    &__media {
      height: 174px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      animation: backInDown; /* referring directly to the animation's @keyframe declaration */
      animation-duration: 1.5s;
    }
  }
}
.top-line {
  width: 1230px;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;

  &__phone {
    font-family: $font1;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
    border-bottom: 2px solid #d1a954;
    right: 0;
  }
}
.menu {
  width: 850px;
  display: flex;
  justify-content: space-between;
  &-item {
    font-family: $font1;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 191px;
  &-preview {
    width: 540px;
    height: 296px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__title {
      font-family: $font1;
      font-weight: bold;
      font-size: 64px;
      line-height: 87px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: white;
      margin: 0px;
    }
    &__text {
      font-size: 14px;
      line-height: 150%;
      color: white;
      font-family: $font2;
      width: 540px;
      height: 79px;
    }
    &__button {
      width: 160px;
      height: 50px;
      background: #d1a954;
      font-family: $font1;
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: white;
    }
  }
}

.slider__item {
  height: 510px;
  width: 310px;
  background-repeat: no-repeat;
  background-position: top center;
}

.slik-slide {
  width: 515px;
}

.slick {
  &-arrow {
    border: none;
    outline: none;
    background-color: transparent;
    position: absolute;
    top: 50%;
  }
  &-next {
    left: 0;
    bottom: 0;
    margin-top: 280px;
    margin-left: 40px;
    &::after {
      content: "ПРЕД";
      color: white;
      font-family: $font1;
      font-weight: bold;
      font-size: 18px;
      letter-spacing: 0.1em;
      padding-left: 25px;
    }
  }
  &-prev {
    right: 20px;
    bottom: -50px;
    margin-top: 280px;
    &::before {
      content: "СЛЕД";
      color: white;
      font-family: $font1;
      font-weight: bold;
      font-size: 18px;
      letter-spacing: 0.1em;
      padding-right: 25px;
    }
  }
}

.container .jump:hover {
  transition: 2s;
  transform: rotate(720deg);
}

.section_2 {
  width: 100%;
  height: 757px;
  background: #333333;
  padding-top: 150px;
}

.about-title {
  font-family: $font1;
  font-weight: 300;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: white;
}
.gold {
  color: #d1a954;
}

.content {
  &__right {
    width: 350px;
    height: 292px;
    background-image: url(../images/Rectangle.png);
    background-repeat: no-repeat;
  }
  margin-top: 100px;
  &__left-title {
    font-family: $font1;
    font-weight: bold;
    font-size: 21px;
    line-height: 29px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: white;
    width: 445px;
    height: 23px;
  }
  &__left-text {
    font-family: $font2;
    font-size: 14px;
    line-height: 150%;
    color: white;
    width: 445px;
    height: 210px;
    margin-top: 40px;
  }
  &__center {
    width: 255px;
    height: 292px;
    &-image--1 {
      margin-top: 25px;
    }
    &-image--2 {
      margin-top: 25px;
    }
    &-text--1 {
      font-family: $font1;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.05em;
      color: white;
      margin-top: 15px;
    }
    &-text--2 {
      font-family: $font1;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.05em;
      color: white;
      margin-top: 15px;
    }
    &-title {
      font-family: $font1;
      font-weight: bold;
      font-size: 21px;
      line-height: 29px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: white;
    }
  }
}

.Staging{
  width: 1770px;
  height: 515px;
  margin-left: 129px;
}

.Staging-title{
  font-family: Open Sans Condensed;
font-weight: 300;
font-size: 48px;
line-height: 65px;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;
color: white;
}

.Staging__slider-item{
  max-width: 442px;
  height: 550px;
  z-index: 1;
  position: relative;
  margin-top: 100px;
  &:hover .Staging__slider-item_title{
display: none;
  }
  &:hover .Staging__slider-item_subtitle{
    display: none;
  }
}


.Staging__slider-item_title{
font-family: Open Sans Condensed;
font-weight: bold;
font-size: 24px;
line-height: 33px;
letter-spacing: 0.05em;
text-transform: uppercase;
position: absolute;
color: white;
top: 0;
margin-top: 40px;
margin-left: 40px;

}

.Staging__slider-item_subtitle{
  font-family: Open Sans Condensed;
font-weight: bold;
font-size: 18px;
line-height: 25px;
letter-spacing: 0.1em;
text-transform: uppercase;
bottom: 0;
color: white;
position: absolute;
margin-bottom: 90px;
margin-left: -20px;
transform: rotate(-90deg);
}

.passive{
  opacity: 0.6;
  &__search{
    width: 442px;
    height: 550px;
    position: absolute;
    top: 0;
    display: block;
    opacity: 0;
    padding-top: 50%;
    padding-left: 40%;
  }
}

.passive__search:hover,
.passive:hover{
  opacity: 1;
}

.awards{
  width: 1110px;
  height: 550px;
  margin: 0 auto;
  &__bg{
    position: relative;
  }
}

.awards__bg-opacity{
  opacity: 0.4;
}

.section_3{
  margin-top:300px ;
  margin-bottom: 150px;
}


.awards__years{
  width: 182px;
  height: 300px;
  top: 0;
  position: absolute;
  margin-top: 125px;
  margin-left: 175px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.awards__year{
  font-family: Open Sans Condensed;
font-weight: bold;
font-size: 72px;
line-height: 98px;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #D1A954;
}

.awards__text{
  font-family: Open Sans;
font-weight: bold;
font-size: 36px;
line-height: 150%;
color: #FFFFFF;
margin-top: 25px;
width: 540px;
}

.awards__content{
  width: 540px;
  height: 198px;
  position: absolute;
  right: 0;
top: 0;
margin-top: 171px;
margin-right: 80px;
}


.partners{
  width: 1034px;
  height: 437px;
  margin-top: 100px;
  margin: 0 auto;
}

.partners__title{
  font-family: $font1;
font-weight: 300;
font-size: 48px;
line-height: 65px;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;
color: white;
}

.partners__content-top{
  max-width: 1034px;
  height: 96px;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.partners__content-bottom{
  max-width: 1034px;
  height: 96px;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.feedback{
  margin: 0 auto;
  width: 1110px;
  height: 355px;
  position: relative;
  margin-top: 100px;
}

.feedback__title{
  font-family: $font1;
font-weight: 300;
font-size: 48px;
line-height: 65px;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;
color: white;
}

.description{
  width: 255px;
  height: 143px;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.description__contacts{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.description__contacts-item{
  font-family: $font1;
font-weight: bold;
font-size: 16px;
line-height: 22px;
letter-spacing: 0.05em;
text-transform: uppercase;
color: white;

}

.form{
  width: 730px;
  height: 190px;
  position: absolute;
  right: 0;
  top: 155px;
}

.form__top-name,
.form__top-company,
.form__bottom-number,
.form__bottom-mail{
  width: 180px;
  height: 35px;
  padding: 5px 10px;
  background: #444444;
border: 1px solid #616161;
box-sizing: border-box;
color: white;
 &::placeholder{
  color: #989898;
  font-family: $font2;
font-weight: 600;
font-size: 12px;
line-height: 150%;
 }
}

.form__top-company,
.form__bottom-mail{
  margin-left: 30px;
}

.form__bottom-number,
.form__bottom-mail{
  margin-top: 30px;
}


.form__message{
  width: 310px;
  height: 100px;
  padding: 5px 10px;
  background: #444444;
border: 1px solid #616161;
box-sizing: border-box;
color: white;
position: absolute;
right: 0;
top: 0;
 &::placeholder{
  color: #989898;
  font-family: $font2;
font-weight: 600;
font-size: 12px;
line-height: 150%;
padding-bottom: 50px;
 }
}


.form__btn{
  width: 190px;
height: 50px;
background: #D1A954;
font-family: $font1;
font-weight: bold;
font-size: 18px;
line-height: 25px;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;
color: white;
position: absolute;
right: 0;
margin-top: 40px;
}

.form__notation{
  width: 390px;
height: 50px;
font-family: Open Sans;
font-size: 12px;
line-height: 150%;
color: #989898;
margin-top: 40px;
}
@import "media";
